
    .page {
       
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transform: translateX(-200vw);
            transition: opacity 1s;
          }
          .page.active {
            opacity: 1;
            transform: translateX(0);
          }
          .pass,.rejected{
              display: none;
              opacity: 0;
          }
          .pass.overlay.message{
              display: block;
              color:hsl(0, 4%, 84%);
              opacity: 1;
          }
          .rejected.overlay.message{
              display: block;
              color:hsl(0, 4%, 84%);
              opacity: 1;
          }
          .list-view {
            margin: 2.5rem 0 1rem;
        }
       .avatar{
            height: 100px;
        }
        .list-item .list-text {
               
            flex-direction: row;
            justify-content: space-between;
            align-items:center;
            background-color:#4a4a4a;
            color:white;
         }
         .list-item .avatar {
             position: initial;
         }
         .icon.delete{
             justify-content: space-between;
         }
         .list-view{
           overflow-y: scroll;
          scroll-behavior:smooth;
            font-size: 3rem;
     
        }
        li{
            margin-bottom:0.5rem;
        }
        .list-item{
            height: 4rem;
        }
        .list-item .list-text{
            align-content:center;
        }
        .card{
            background-color:#4a4a4a;
            color:white;
            font-weight:500;
            text-align:center;
            box-shadow:3px 3px 4px rgba(0,0,0,0.5);
        }
        .bar{
            background-color:#4a4a4a;
        }
        .bar h1{
            color: white;
        }
       .bar .tab{
           color:white;
       }
       