/* @import url('../fonts/MaterialIcons-Regular.ttf');
@import url('../fonts/MaterialIcons-Regular.woff');
@import url('../fonts/MaterialIcons-Regular.woff2');

.page {
    min-height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    opacity: 0;
    transform: translateX(-200vw);
    transition: opacity 1s;
  }
  .page.active {
    opacity: 1;
    transform: translateX(0);
  }
  .card,.saved{
    
    justify-content: center;
    text-align: center ;
}

.card img {
    width:85vw;
   
}
.saved img{
    width:70vw;
}
.heading{
    width:100vw;
    background-color:  rgba(230, 81, 91, 0.71)
}
.delbutton{
    width:40vw;
    height:2rem;
    background-color: rgba(230, 81, 91, 0.71);
    font-size: 1.5rem;
    
    
}
.division{
    padding-top:5px;
    margin:1rem;
    border: 5px solid ;
    box-shadow: 3px 3px 3px grey;
}
section{
    
    height:80vh;
    overflow-y: scroll ;
    scroll-behavior:smooth;
    font-size: 3rem;
    
}
body{
    margin:0;
}
p{
    margin:0;
}
.home {
    position: fixed ;
    margin-top: 90vh;
    width:49.4vw;
    height: 10vh;
    border-radius: 1px;
    background-color: rgba(230, 81, 91, 0.71);
    font-size: 2.5rem;
}
.save{
    position: fixed ;
    margin-left: 50vw;
     margin-top: 90vh;
    width:49.4vw;
    height: 10vh;
    border-radius: 1px;
    background-color: rgba(230, 81, 91, 0.71);
    font-size: 2.5rem;
}
.home:target{
    background-color: rgba(236, 125, 133, 0.71);
}


 */
 .page {
    /*     height: 90vh; */
        position: absolute;
        top: 0;
        left: 0;
        /* width: 90vw; */
    
        opacity: 0;
        transform: translateX(-200vw);
        transition: opacity 1s;
      }
      .page.active {
        opacity: 1;
        transform: translateX(0);
      }
      .pass,.rejected{
          display: none;
          opacity: 0;
      }
      .pass.overlay.message{
          display: block;
          color:hsl(0, 4%, 84%);
          /* background-color: rgba(0, 0, 0, 0.9); */
          opacity: 1;
      }
      .rejected.overlay.message{
          display: block;
          color:hsl(0, 4%, 84%);
          opacity: 1;
      }
      .list-view {
        margin: 2.5rem 0 1rem;
    }
    .list-item .list-text {
           
        flex-direction: row;
        justify-content: space-between;
     }
     .list-item .avatar {
         position: initial;
     }
     .icon.delete{
         justify-content: space-between;
     }
    /*  .page.active header {
         
        width: 100vw;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas: "title";
      height: 2.25rem;
      font-weight: 200;
      background-color: hsl(87, 90%, 65%); 
      box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.64);
    }
    .page.active header h1 {
      font-weight: 800;
      font-size: 1.5rem;
      color: hsl(0, 0%, 20%);
      text-align: center;
      grid-area: title;
      align-self: center ;
        margin-top: 0;
    }
    .saved header{
          
    }
    header{
        padding: 0;
    /*     position: fixed;   */
    
    .list-view{ 
       overflow-y: scroll; 
    /*     height: 75vh; */
          overflow-y: scroll;
      scroll-behavior:smooth;
        font-size: 3rem;
    }
    .list-item{
        height: 4rem;
    }